In [1]:
class arithematic_operations:
    def add(self,a,b):
        print(f'addition of {a} and {b} is {a+b}')
    def mul(self,a,b):
        print(f'multiplication of {a} and {b} is {a*b}')

In [3]:
obj = arithematic_operations()
obj.add(10,20)
obj.mul(10,20)

addition of 10 and 20 is 30
multiplication of 10 and 20 is 200

In [54]:
# decorator

def addition(func):
    func(a)
    def main(a):
        total = 0
        for i in a:
            total = total+i
        print(f'addition of {a} is {total}')
    return main

In [55]:
@addition
def sample(a):
    print()

In [59]:
n = [10,20,30]
sample(n)

addition of [10, 20, 30] is 60

In [61]:
# data base connection
import mysql.connector
mydb = mysql.connector.connect(host='localhost',user='root',password='Root@1234@',database='sql_conn')
cur = mydb.cursor()
q = 'select * from sql_emp'
cur.execute(q)
data = cur.fetchall()
print(data)
for d in data:
    print(d)

[(1, 'Akash', 45678), (1, 'jon', 34000), (103, 'Anthony', 50000), (4, 'monish', 30000), (2, 'Amit', 34500), (2, 'Amit', 34500), (3, 'Snehal', 40000)]
(1, 'Akash', 45678)
(1, 'jon', 34000)
(103, 'Anthony', 50000)
(4, 'monish', 30000)
(2, 'Amit', 34500)
(2, 'Amit', 34500)
(3, 'Snehal', 40000)

In [63]:
# lambda

a = lambda x,y :x+y

In [64]:
a(10,20)

30

In [65]:
tables = [lambda x=x: x*10 for x in range(1, 11)]

In [69]:
for t in tables:
    print(t())

10
20
30
40
50
60
70
80
90
100

In [70]:
Max = lambda a, b : a if(a > b) else b
print(Max(1, 2))

2

In [78]:
# map 
def power(n):
     return n**n

l = [1,2,3,4,5,6] 
d = list(map(power,l))

In [79]:
d

[1, 4, 27, 256, 3125, 46656]

In [80]:
d1 = [67,4,32,1]
d2 = [6,6,8,7]

d3 = list(map(lambda x,y: x+y, d1,d2))
d3

[73, 10, 40, 8]

In [81]:
# filter
def func(string):
    letters = ['a','e','i','o','u']
    if string in letters:
        print(string)

In [89]:
a = 'this is a python programing'
fil = filter(func, a)

In [90]:
for i in fil:
    print(i)

i
i
a
o
o
a
i

In [94]:
# Reduce
from functools import reduce
b = [234,4,55,676,43,3]
a = reduce(lambda x,y:x+y,b)
a

1015

In [ ]:
# Code optimizations techniques

In [97]:
# list compr
list = [i for i in range(11) if i%2==0]
print(list)

[0, 2, 4, 6, 8, 10]

In [100]:
matrix = [[j for j in range(3)] for i in range(3)]

In [101]:
matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [104]:
# dict comprehension
k = [1,2,3,4]
v = [10,20,30,40]

d = {i:j for i,j in zip(k,v)}
d

{1: 10, 2: 20, 3: 30, 4: 40}

In [105]:
d = {i:i**i for i in range(5)}
d

{0: 1, 1: 1, 2: 4, 3: 27, 4: 256}

In [106]:
d = {i.upper():i*3 for i in 'abcd'}
d

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

In [130]:
# generator
k = (i for i in range(100))

In [133]:
next(k)

2

In [259]:
def test():
    yield 'python'
    yield 'c'
    yield 'c++'
    yield 'java'

In [260]:
r = test()

In [261]:
next(r)

'python'

In [262]:
def nextno():
    for i in range(10):
        yield i

In [263]:
a = nextno()

In [266]:
next(a)

1

In [268]:
# os 
import os
try:
    with open('abcd.text','r') as fp:
        data = fp.read()
        print(data)
except FileNotFoundError:
    print('Error occured Fle Not Found')
else:
    print('file run')
finally:
    print('program run succesfully')

Error occured Fle Not Found
program run succesfully

In [274]:
# data transforming language

# pickle

import pickle
data = {'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}
with open ('abcd','wb') as fp:
    pickle.dump(data,fp)

In [275]:
with open ('abcd','rb') as fp:
    data = pickle.load(fp)
    print(data)

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

In [280]:
# json
import json
data = {'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}
with open ('abcd.json',"w") as fp:
    json.dump(data,fp)

json.dumps(data)

'{"A": "aaa", "B": "bbb", "C": "ccc", "D": "ddd"}'

In [281]:
with open ('abcd.json','r') as fp:
    data = json.load(fp)
    print(data)

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

In [286]:
# random

from random import *
print(random())

0.44996859780230725

In [303]:
from random import randint,randrange,uniform,choice

In [306]:
print(randint(10,20))
print(randrange(100,200,2))
print(uniform(1,5))

l = [12,23,43,455,88,9,56,54,23]
print(choice(l))

18
108
3.0347953026039796
54

In [307]:
# class and objects

class emp():
    def __init__(self,id,name):
        self.id=id
        self.name=name
    def show(self,city):
        self.city = city
        print(self.id)
        print(self.name)
        print(self.city)

In [309]:
obj = emp(101,'ak')

In [312]:
obj.show('pune')

101
ak
pune

In [321]:
# 3.
class employee:
    def __init__ (self,id,name):
        self.id = id
        self.name = name
    def show(self, city):
        self.city = city
        print(self.id)
        print(self.name)
        print(self.city)
    def dispaly(self,sal):
        self.sal = sal
        new_sal = 1.30*self.sal
        print(self.id)
        print(self.name)
        print(self.sal)
        print(new_sal)

In [322]:
obj = employee(101,'ak')

In [323]:
obj.dispaly(20000)

101
ak
20000
26000.0

In [327]:
# class method

class imp():
    a = 10
    @classmethod
    def meth(axe,id,name):
        print(id)
        print(name)
        print(a)
        print(axe.a)

In [328]:
imp.meth(1091,'aka')

1091
aka
<generator object nextno at 0x00000178CFC1EF90>
10

In [1]:
# inheritance 
class A:
    def __init__(self):
        print('in constructor')
    def m1(self):
        print('in m1 in A')
        
class B(A):
    def m2(self):
        print('in m2 in B')

In [3]:
obj = B()
obj.m2()
obj.m1()

in constructor
in m2 in B
in m1 in A

In [4]:
# Complete order of method execution 
class A:
    def __init__(self): 
        print('in constructor') 
    def m1(self): 
        print('in m1 ---- in A') 

class B(A): 
    def m1(self): 
        print('in m1 ---- in B') 
        super().m1()

class C(B): 
    def m1(self): 
        print('in m1 ---- in C') 
        super().m1()

class D: 
    def m1(self): 
        print('in m1 ---- in D') 
        super().m1()

class E(D,C): 
    def m1(self): 
        print('in m1 ---- in E') 
        super().m1()

In [6]:
obj = E()
obj.m1()

in constructor
in m1 ---- in E
in m1 ---- in D
in m1 ---- in C
in m1 ---- in B
in m1 ---- in A

In [7]:
# abstraction 
from abc import ABC,abstractmethod
class emp(ABC):
    @abstractmethod
    def m1(self):
        pass

class student(emp):
    def m1(self):
        print('in abstract m1')

In [11]:
obj = student()
obj.m1()

in abstract m1

In [18]:
# Access specifire, Enclapsulation
class sample:
    a = 10
    _a = 100
    __a = 1000
    def test(self):
        print(sample.a)
        print(sample._a)
        print(sample.__a)

class sample1(sample):
    def test2(self):
        print(sample.a)
        print(sample._a)

In [19]:
obj = sample1()
obj.test2()

10
100

In [21]:
print(sample.a)
print(sample._a)
print(obj._sample__a)

10
100
1000

In [25]:
# polymephism
# over loading
class sample():
    def __init__(self,a):
        self.a=a
    def __add__(self,other):
        return self.a + other.a
    def __mul__(self,other):
        return self.a * other.a

In [32]:
o1 = sample(10)
o2 = sample(20)
print(o1+o2,o1*o2)

30 200

In [34]:
# method overloading

# MO
class version: 
    def v(self): 
        print('in version 0') 
class ver1(version): 
    def v(self): 
        print('in version 1') 
        super().v()

obj = ver1()
obj.v()

in version 1
in version 0

In [35]:
class person(): 
    def __init__(self,eid,ename,eadd): 
        self.id=eid 
        self.name=ename 
        self.add=eadd 
    def show(self): 
        print('id:',self.id) 
        print("name:",self.name) 
        print("address:",self.add)

class vehicle(person): 
    def __init__(self,company,car,cost): 
        self.company=company 
        self.car=car 
        self.cost=cost 
    def show(self): 
        print("company", self.company) 
        print("car", self.car) 
        print("cost",self.cost) 
        
obj = vehicle("BMW","Q9",10000000) 
obj.show()

company BMW
car Q9
cost 10000000

In [38]:
class person(): 
    def __init__(self,eid,ename,eadd): 
        self.id=eid 
        self.name=ename 
        self.add=eadd 
    def show(self): 
        print('id:',self.id) 
        print("name:",self.name) 
        print("address:",self.add)

class vehicle(person): 
    def __init__(self,eid,ename,eadd,company,car,cost): 
        super().__init__(eid,ename,eadd)
        self.company=company 
        self.car=car 
        self.cost=cost 
    def show(self): 
        super().show()
        print("company", self.company) 
        print("car", self.car) 
        print("cost",self.cost) 
        
obj = vehicle(101,'name','pune',"BMW","Q9",10000000) 
obj.show()

id: 101
name: name
address: pune
company BMW
car Q9
cost 10000000

In [39]:
# multi threadnig

from threading import Thread

def mul(a):
    print(list(map(lambda x: x*2,a)))
def div(a):
    print(list(map(lambda x: x/2,a)))

a = [1,2,3]
t1 = Thread(target=mul, args= (a,))
t2 = Thread(target=div, args= (a,))
t1.start()
t2.start()
t1.join()
t2.join()
print('hello')

[2, 4, 6]
[0.5, 1.0, 1.5]
hello

In [50]:
# assert
def square(n): 
    return n ** n # print mistake ** instade of *
assert square(4)==16, "square should be 16" 
d = square(4) 
print(d)

AssertionError: square should be 16

In [51]:
# importing module
import logging

# Create and configure logger
logging.basicConfig(filename="newfile.log",
					format='%(asctime)s %(message)s',
					filemode='w')

# Creating an object
logger = logging.getLogger()

# Setting the threshold of logger to DEBUG
logger.setLevel(logging.DEBUG)

# Test messages
logger.debug("Harmless debug Message")
logger.info("Just an information")
logger.warning("Its a Warning")
logger.error("Did you try to divide by zero")
logger.critical("Internet is down")

In [52]:
import gc
print(gc.isenabled())    # True
gc.disable()
print(gc.isenabled())   # False
gc.enable()

True
False

In [53]:
class A:
    def func(self):
        print("data fetching from production database server")

def monkey_f():
    print("Data fetching from test server")

A.func = monkey_f
A.func()

Data fetching from test server

In [54]:
class A:
    def func(self,a,b):
        print("data fetching from production database server")
        print(a+b)

def monkey_f(a,b):
    print("Data fetching from test server")
    print(a*b)
A.func = monkey_f
A.func(10,20)

Data fetching from test server
200