In [1]:
class arithematic_operations:
    def add(self,a,b):
        print(f'addition of {a} and {b} is {a+b}')
    def mul(self,a,b):
        print(f'multiplication of {a} and {b} is {a*b}')

In [3]:
obj = arithematic_operations()
obj.add(10,20)
obj.mul(10,20)

addition of 10 and 20 is 30
multiplication of 10 and 20 is 200

In [54]:
# decorator

def addition(func):
    func(a)
    def main(a):
        total = 0
        for i in a:
            total = total+i
        print(f'addition of {a} is {total}')
    return main

In [55]:
@addition
def sample(a):
    print()

In [59]:
n = [10,20,30]
sample(n)

addition of [10, 20, 30] is 60

In [61]:
# data base connection
import mysql.connector
mydb = mysql.connector.connect(host='localhost',user='root',password='Root@1234@',database='sql_conn')
cur = mydb.cursor()
q = 'select * from sql_emp'
cur.execute(q)
data = cur.fetchall()
print(data)
for d in data:
    print(d)

[(1, 'Akash', 45678), (1, 'jon', 34000), (103, 'Anthony', 50000), (4, 'monish', 30000), (2, 'Amit', 34500), (2, 'Amit', 34500), (3, 'Snehal', 40000)]
(1, 'Akash', 45678)
(1, 'jon', 34000)
(103, 'Anthony', 50000)
(4, 'monish', 30000)
(2, 'Amit', 34500)
(2, 'Amit', 34500)
(3, 'Snehal', 40000)

In [63]:
# lambda

a = lambda x,y :x+y

In [64]:
a(10,20)

30

In [65]:
tables = [lambda x=x: x*10 for x in range(1, 11)]

In [69]:
for t in tables:
    print(t())

10
20
30
40
50
60
70
80
90
100

In [70]:
Max = lambda a, b : a if(a > b) else b
print(Max(1, 2))

2

In [78]:
# map 
def power(n):
     return n**n

l = [1,2,3,4,5,6] 
d = list(map(power,l))

In [79]:
d

[1, 4, 27, 256, 3125, 46656]

In [80]:
d1 = [67,4,32,1]
d2 = [6,6,8,7]

d3 = list(map(lambda x,y: x+y, d1,d2))
d3

[73, 10, 40, 8]

In [81]:
# filter
def func(string):
    letters = ['a','e','i','o','u']
    if string in letters:
        print(string)

In [89]:
a = 'this is a python programing'
fil = filter(func, a)

In [90]:
for i in fil:
    print(i)

i
i
a
o
o
a
i

In [94]:
# Reduce
from functools import reduce
b = [234,4,55,676,43,3]
a = reduce(lambda x,y:x+y,b)
a

1015

In [ ]:
# Code optimizations techniques

In [97]:
# list compr
list = [i for i in range(11) if i%2==0]
print(list)

[0, 2, 4, 6, 8, 10]

In [100]:
matrix = [[j for j in range(3)] for i in range(3)]

In [101]:
matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [104]:
# dict comprehension
k = [1,2,3,4]
v = [10,20,30,40]

d = {i:j for i,j in zip(k,v)}
d

{1: 10, 2: 20, 3: 30, 4: 40}

In [105]:
d = {i:i**i for i in range(5)}
d

{0: 1, 1: 1, 2: 4, 3: 27, 4: 256}

In [106]:
d = {i.upper():i*3 for i in 'abcd'}
d

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

In [130]:
# generator
k = (i for i in range(100))

In [133]:
next(k)

2

In [259]:
def test():
    yield 'python'
    yield 'c'
    yield 'c++'
    yield 'java'

In [260]:
r = test()

In [261]:
next(r)

'python'

In [262]:
def nextno():
    for i in range(10):
        yield i

In [263]:
a = nextno()

In [266]:
next(a)

1

In [268]:
# os 
import os
try:
    with open('abcd.text','r') as fp:
        data = fp.read()
        print(data)
except FileNotFoundError:
    print('Error occured Fle Not Found')
else:
    print('file run')
finally:
    print('program run succesfully')

Error occured Fle Not Found
program run succesfully

In [274]:
# data transforming language

# pickle

import pickle
data = {'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}
with open ('abcd','wb') as fp:
    pickle.dump(data,fp)

In [275]:
with open ('abcd','rb') as fp:
    data = pickle.load(fp)
    print(data)

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

In [280]:
# json
import json
data = {'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}
with open ('abcd.json',"w") as fp:
    json.dump(data,fp)

json.dumps(data)

'{"A": "aaa", "B": "bbb", "C": "ccc", "D": "ddd"}'

In [281]:
with open ('abcd.json','r') as fp:
    data = json.load(fp)
    print(data)

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

In [286]:
# random

from random import *
print(random())

0.44996859780230725

In [303]:
from random import randint,randrange,uniform,choice

In [306]:
print(randint(10,20))
print(randrange(100,200,2))
print(uniform(1,5))

l = [12,23,43,455,88,9,56,54,23]
print(choice(l))

18
108
3.0347953026039796
54

In [307]:
# class and objects

class emp():
    def __init__(self,id,name):
        self.id=id
        self.name=name
    def show(self,city):
        self.city = city
        print(self.id)
        print(self.name)
        print(self.city)

In [309]:
obj = emp(101,'ak')

In [312]:
obj.show('pune')

101
ak
pune

In [321]:
# 3.
class employee:
    def __init__ (self,id,name):
        self.id = id
        self.name = name
    def show(self, city):
        self.city = city
        print(self.id)
        print(self.name)
        print(self.city)
    def dispaly(self,sal):
        self.sal = sal
        new_sal = 1.30*self.sal
        print(self.id)
        print(self.name)
        print(self.sal)
        print(new_sal)

In [322]:
obj = employee(101,'ak')

In [323]:
obj.dispaly(20000)

101
ak
20000
26000.0

In [327]:
# class method

class imp():
    a = 10
    @classmethod
    def meth(axe,id,name):
        print(id)
        print(name)
        print(a)
        print(axe.a)

In [328]:
imp.meth(1091,'aka')

1091
aka
<generator object nextno at 0x00000178CFC1EF90>
10